/*.product-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
}
*/


.product-image{
    
    width: 200px;
}

.product-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
}

.product-card h3{
    width: 200px;
}