
.navbar{
    height: 50px;
    background-color:#8AB0AB;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navlink{
    text-decoration: none;
    color: #e3d5ca;
    font-size: 20px;
    font-weight: 800;
}